html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.navigation-bar {
  background-color: black;
}
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
.logo-container {
  display: flex;
  justify-content: center;
  width: 85px;
  height: 90px;
  padding-bottom: 17px;
  flex: 2; /* Take up more space in the center */
  text-align: center;
}

p {
  color: #ffd700;
  align-items: left;
  justify-content: left;
  text-align: left;
}
.hamburger-menu {
  flex: 1; /* Take up space on the left */
  margin-top: 25px;
}
.hamburger-menu :hover {
  color: gold;
}
.hamburger-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  margin: auto;
  margin-top: 10%;
  font-size: medium;
}
.nav-list li a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}
.nav-list li a:hover {
  color: gold;
}

.content {
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: left;
  border-radius: 35px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 50px;
  width: 85%;
  height: 7%;
  text-align: left;
}

.hero-image h1 {
  color: white;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

.hero-image p {
  text-align: left;
  font-size: 1.25rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  color: white;
  font-weight: 400;
  padding-left: 60px;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero-image video {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateX(-50%);
}

.image {
  margin-top: 25px;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}
.button {
  color: black;
  margin-top: 40px;
  background-color: #67676792;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border-style: hidden;
  height: 35px;
  right: 35%;
  position: relative;
  width: 90px;
}

.button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}
.button :hover {
  color: gold;
}
.explore {
  margin-top: 40px;
  padding-bottom: 7px;
  padding-top: 5px;
}
.explore-collection p {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 28px;
  text-align: center;
  color: black;
  margin-top: 50px;
  font-weight: medium;
}

.categories-list li:hover {
  text-decoration: underline;
}
.new-collection {
  color: white;
  text-align: center;
  background-color: #2e2e2e;
  width: fit-content;
  border-radius: 35px;
  margin: auto;
  margin-top: 45px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0px;
}
.new-collection a {
  color: white;
  text-decoration: none;
  font-family: Sans, Gill Sans MT, Calibri, sans-serif;
  text-align: center;
}
.new-collection :hover {
  color: gold;
}
.categories {
  display: flex;
  margin: auto;
  height: 50px;
}

.categories-list {
  list-style-type: none;
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 7%;
  height: 50px;
}
.categories-list li a {
  color: black;
  text-decoration: none;
  font-family: Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 24px;
}
.categories :hover {
  color: gold;
}

* {
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
  transition: opacity 1s ease-in-out;
  position: absolute;
}
.mySlides_bottom {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 10px 12px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Sans, Gill Sans MT, Calibri, sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.explore-collection {
  margin-bottom: 10px;
  height: 250px;
  background-color: white;
}
.featured-products {
  color: #ffd700;
  text-align: center;
  background-color: #2e2e2e;
  width: fit-content;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}
.featured-products h3 {
  align-items: center;
}
.featured-products :hover {
  color: gold;
}
.featured-products a {
  color: white;
  text-decoration: none;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;

  font-size: 17px;
}
/* Slideshow container */
.slideshow-container {
  width: 300px;
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-right: -12px;
  bottom: 150px;
  right: 100px;
}

.slideshow-container1 {
  width: 300px;
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-right: 40px;
  bottom: 150px;
  left: 100px;
}
.slideshow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #030303;
  margin-top: 70px;
  height: 310px;
}
.feature-watch {
  width: 60%;
  margin-left: 50px;
}
.feature-watch button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  margin-right: 40px;
  margin-left: 55px;
  height: 45px;
  width: 90px;
  font-size: 16px;
}

.feature-watch button:hover {
  background-color: grey;
}

.feature-watch p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(247, 246, 246);
  font-weight: 300;
  width: 60%;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5;
  text-align: left;
  margin-left: 40px;
}

.card {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
.collections:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}

.collections {
  color: white;
  text-align: center;
  background-color: black;
  width: fit-content;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.collections p {
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.collections button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 35px;
}
.collections button :hover {
  color: gold;
}

.featured {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background-color: black;
  width: fit-content;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  column-gap: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.feature-card {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.feature-card p {
  text-align: center;
  color: white;
}
.featured:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}
.featured button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 35px;
}
.featured button :hover {
  color: gold;
}
.collections p {
  text-align: center;
}

/* Newsletter Signup */
.newsletter {
  padding: 40px 20px;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 1%;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.newsletter h2 {
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.newsletter p {
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  margin-right: 90px;
  right: 40%;
}

.newsletter button:hover {
  background-color: grey;
}
input[type="email"] {
  margin: 0px;
  margin-left: 90px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 13px;
  color: gold;
  background-color: #202020;
  border: 2px solid #302e2e;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s;
}

/* Footer */
footer {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-container div {
  flex: 1;
  min-width: 200px;
}

.footer-container h3 {
  margin-bottom: 10px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container ul li {
  margin: 5px 0;
}

.footer-container ul li a {
  color: white;
  text-decoration: none;
}

.footer-container ul li a:hover {
  color: #ffd700;
}

.social-media a img {
  width: 30px;
  margin: 0 5px;
}

.contact-info h3 p {
  color-scheme: white;
}
footer p {
  margin-top: 20px;
  margin: auto;
  text-align: center;
  color: white;
}
* {
  box-sizing: border-box;
}
